{% extends "personal/header.html" %}

{% block content %}

<p>Hey, Welcome to my website. I am learning how to be a programmer.</p>

<p>I've got ALOT to learn.</p>

<h2>Here's some content:</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aliquid, aut facilis! Officia voluptatibus nesciunt beatae adipisci quo doloremque delectus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolores tempora perspiciatis recusandae, a mollitia ex, distinctio esse sint unde.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque hic adipisci, voluptate tenetur ipsam optio saepe, quos cumque sunt praesentium.</p>

{% endblock %}

